<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @round_hole.identifier %>
</p>

<%= link_to 'Edit', edit_round_hole_path(@round_hole) %> |
<%= link_to 'Back', round_holes_path %>
